# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual env
venv/
.env/
.venv/

# VSCode / JetBrains
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Cloud / Deploy
*.gcloudignore

# Flutter / Dart
app/build/
app/.dart_tool/
app/.packages
app/.pub-cache/
app/ios/Pods/
app/android/.gradle/
app/android/app/build/

# Node / Web
node_modules/
dist/
build/
